<template id="mainPage">
    <form id='gameSetForm'>
      <div class="row">
        <label class="d-flex">
          <strong>사람 수</strong> 
          <input type="number" name="peopleNum" value="3" />
        </label>
      </div>
      <div class="row">
        <label><input type="radio" name="direction" value="retrun" checked/>왕복</label>
        <label><input type="radio" name="direction" value="oneway" />편도</label>
      </div>
      <input type="submit" name="start" value="게임 시작하기" />
      <input type="button" id="puseBtn" name="puse" value="일시정지" />
    </form>
    <div id='imageArea'></div>
  </template>